<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/icons/title/Pogglebar_Favicon.png" />
    <title>Pogglebar</title>
    <link rel="stylesheet" href="../static/css/collectionCSS/style.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/redirects.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/xp.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/pfp.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/crate.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/inventory.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/wish.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/shop.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/settings.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/tooltip.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/banner.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/binder.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/perkB.css">
    <link rel="stylesheet" href="../static/css/collectionCSS/gamemodes.css">
</head>

<body>
    <!--Wish Container-->
    <div id="customConfirm" style="display:none;">
        <div class="confirm-content">
            <p id="confirmMessage"></p>
            <button class="confirmbtn" id="customConfirmYes">Yes</button>
            <button class="confirmbtn" id="customConfirmNo">No</button>
        </div>
    </div>
    <!--Shop-->
    <%- include("collectionEJS/shop.ejs") %>
    <!--Binder-->
    <div id="binderBanner" style="display:none;">
        <div class="binderCont">
            <h1 style="font-size: 60px; margin-top: -10px; margin-bottom: 0px;">Collection</h1>
            <button id="closeBinder">Close</button>
            <div id="binderProgress">
                <h3 id="pogCount">Pogs: 0 / 0</h3>
                <progress id="binderBar"></progress>
            </div>
            <div id="binderItems"></div>
        </div>
    </div>
    <!--Perks-->
    <div id="perkBanner" style="display:none;">
        <div class="perkCont">
            <h1 style="font-size: 60px; margin-top: -10px; margin-bottom: 0px;">Perks</h1>
            <button id="closePerks">Close</button>
            <div id="perkCards"></div>
        </div>
    </div>
    <!--Profile Pic Container-->
    <div id="pfpChanger">
        <h3>Choose your Profile Picture</h3>
        <img id="bigpfp" width="100" height="100" src="static/icons/pfp/defaultpfp.png" />
        <p id="fileSizeMessage"></p>
        <input id="filepfp" type="file" accept="image/*" />
        <button id="closePfpChanger">Close</button>
    </div>
    <!--Gamemodes-->
    <%- include("collectionEJS/gamemodes.ejs") %>
    <div id="collectBanner">
        <div class="leftstuff">
            <div id="titlecont">
                <button id="play_btn">Play
                    <img src="../static/icons/buttons_main/play.png" width="15" height="15">
                </button>
            </div>
            <div id="userCont">
                <img id="userPic" width="20" height="20" src="static/icons/pfp/defaultpfp.png" />
                <h4 style="color: white">
                    <%= userdata.displayName %>
            </div>
            </h4>
            <div style="display: none" id="userdata">
                <%- JSON.stringify(userdata) %>
            </div>
            <div style="display: none" id="maxPogs">
                <%- JSON.stringify(maxPogs) %>
            </div>
            <div style="display: none" id="pogList">
                <%- JSON.stringify(pogList) %>
            </div>
        </div>
        <!--Banner Buttons-->
        <%- include("collectionEJS/banner_rightstuff.ejs") %>
    </div>
    <div id="centerlayout" style="text-align: center;">
        <!--Description-->
        <div id="descPanel">
            <span></span>
        </div>
        <div id="invcont">
            <div id="topCont">
                <div id="space">0/10</div>
                <button id="sellAll">Sell All</button>
            </div>
            <div id="inventory"></div>
        </div>
        <!--Settings and Crate-->
        <%- include("collectionEJS/leftmost.ejs") %>
    </div>
    <div id="slider" style="position: flex"></div>
    <!-- Gacha Animation Overlay -->
    <%- include("collectionEJS/gacha.ejs") %>

</body>
<!--updateinventory.js and searchsort.js and viewDesc.js must always come first in the js lineup-->
<script src="../static/js/collectionJS/searchsort.js"></script>
<script src="../static/js/collectionJS/updateinventory.js"></script>
<!--crates, shop, combo, lightmode, sellitem, stuffWork next-->
<!--stuffWork tackles things like: 
    1. variable definition
    2. loose functions
    3. calling functions:
        i. locking items
        ii. number abbreviation
    stuffwork uses userData to define global parameters-->
<script src="../static/js/crates.js"></script>
<script src="../static/js/shop.js"></script>
<script src="../static/js/collectionJS/saving.js"></script>
<script src="../static/js/collectionJS/combo.js"></script>
<script src="../static/js/collectionJS/lightmode.js"></script>
<script src="../static/js/collectionJS/sellitem.js"></script>
<script src="../static/js/collectionJS/stuffWork.js"></script>
<!--as long as they aren't dependent on each other, there is no needed order-->
<script src="../static/js/collectionJS/levelup.js"></script>
<script src="../static/js/collectionJS/income.js"></script>
<script src="../static/js/collectionJS/merge.js"></script>
<script src="../static/js/collectionJS/viewDesc.js"></script>
<script src="../static/js/collectionJS/sellall.js"></script>
<script src="../static/js/collectionJS/crateopen.js"></script>
<script src="../static/js/collectionJS/shopint.js"></script>
<script src="../static/js/collectionJS/binderint.js"></script>
<script src="../static/js/collectionJS/perkint.js"></script>
<script src="../static/js/collectionJS/panelint.js"></script>
<script src="../static/js/collectionJS/wish.js"></script>
<script src="../static/js/collectionJS/pfp.js"></script>
<!--don't put anything here-->
<script src="../static/js/achievements.js"></script>
<!--tickupdate is last-->
<script src="../static/js/collectionJS/tickupdate.js"></script>
<!--save filter-->
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const mySel = document.getElementById("selectSort");
        const storageKey = "defaultValue";

        // 1. Load saved value on page load
        const savedValue = localStorage.getItem(storageKey);
        if (savedValue) {
            mySel.value = savedValue;
        }

        // 2. Save value when the selection changes
        mySel.addEventListener("change", function () {
            localStorage.setItem(storageKey, this.value);
        });
    });
</script>

</html>